@model WEB_353503_Sebelev.UI.ViewModels.BookListViewModel

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<html>
<body>
<div class="row mt-4">
    <div class="col-md-2">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a href="#" 
                   class="nav-item dropdown-toggle"
                   data-bs-toggle="dropdown"
                   role="button"
                   aria-expanded="false">@(ViewData["currentCategory"] ?? "Все категории")
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           asp-controller="Book"
                           asp-route-category=@null>Все катерогии</a>
                    </li>
                    @foreach (var item in Model.Categories)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Book"
                               asp-route-category="@item.NormalizedName">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model.Books.Items)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@item.Image" class="card-img-top" style="height: 550px; object-fit: fill;" alt="@item.Id">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                            <div class="badge text-bg-secondary">@item.Price тугриков</div>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnurl="@returnUrl" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>    
    </div>
    
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link @(Model.Books.CurrentPage == 1 ? "disabled" : "")"
               aria-label="Previous"
               asp-action="Index"
               asp-route-pageNo="@(Model.Books.CurrentPage - 1)"
               asp-route-category="@ViewData["currentNormalizedCategory"]"
               >
                <span aria-hidden="true">&laquo;</span> 
            </a>
        </li>
        @for (int i = 1; i <= Model.Books.TotalPages; ++i)
        {
            <li class="page-item @(Model.Books.CurrentPage == i ? "active" : "")">
                <a class="page-link" 
                   asp-action="Index"
                   asp-route-pageNo="@(i)"
                   asp-route-category="@ViewData["currentNormalizedCategory"]">@(i)</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link @(Model.Books.CurrentPage == Model.Books.TotalPages ? "disabled" : "")"
               aria-label="Next"
               asp-action="Index"
               asp-route-pageNo="@(Model.Books.CurrentPage + 1)"
               asp-route-category="@ViewData["currentNormalizedCategory"]">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div> 
</body>
</html>